{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'bootstrap/css/styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> -->
        <link rel="stylesheet" href="{% static 'bootstrap-4.6.2-dist/css/bootstrap.min.css' %}" />
        <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'bootstrap-4.6.2-dist/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static "css/photo_board.css" %}">
        {% block head %}
        {% endblock head %}
    </head>

    <body>
    <!-- navbar -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">강맛</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{% url 'signup' %}">Profile</a>
      </nav>
      <a class="btn btn-outline-primary" href="{% url 'signup' %}">Sign up</a>
      <a class="btn btn-outline-primary" href="{% url 'logout' %}">Sign out</a>
    </div>
    <!-- navbar -->

    {% block content %}
    {% endblock content %}


    <!-- Footer -->
    <footer>
      <div id="footer_box">
          <div id="footer_info">
              <div class="footer_title">
                  
                  <h2 class="circle_right">강맛</h2><br>        
                  <p>@ Kangwon National University<br>@ Team KM.Company<br>@ Project 강맛</p>
              </div>
              <div class="front_end_info">
                  <h2>front end</h2><br>
                  <p>안재진<br>김지민</p><br>
                  <h2>tech skills</h2><br>
                  <p>HTML,CSS,JavaScript</p>
              </div>
              <div class="backend_info">
                  <h2>backend</h2><br>
                  <p>한주영<br>박서희</p><br>
                  <h2>tech skills</h2><br>
                  <p>Django</p>
              </div>
              <div class="other_info">
                  <h2>Contact Us</h2><br>
                  <p>
                      <b>Email</b> annjae4676@naver.com<br><b>GitHub </b><a href="{% static 'github.com/acs0209/hackathonProject' %}"><i class="fa-brands fa-github"></i></a>
                      <br><b>facebook </b><i class="fa-brands fa-facebook"></i><br><b>instagram </b><i class="fa-brands fa-instagram"></i>
                      <br><b>twitter </b><i class="fa-brands fa-twitter"></i>
                  </p>
              </div>
          </div>

          <div class="copyright">
              &copy; Copyright @ team A All rights reserved.
          </div>
      </div> 
  </footer>

    </body>
</html>