* {
    margin: 0;
  }

/*test*/

#header {
  width: 100%;
  height: 200px;
}
.header_container {
  position: relative;
  display: flex;
}
/*info*/
#info {
  box-shadow: 1px 1px 1px 1px #999;
  border: 1px solid #dae1e6;
  margin: 20px;
  width: 58%;
  height: 150px;
  background-color: #E3EFFF;
  position: absolute;
  left: 40px;
}

.info {
  margin-top: 20px;
  margin-right: 30px;
  float: right;
}
.info_header {
  text-align: center;
  font-size: 25px;
}
.info_content {
  margin-top: 25px;
  
}

.gomduli_cheeze {
  width: 30%;
  height: 148px;
}
/*info*/
/*login*/

.login {
  box-shadow: 1px 1px 1px 1px #999;
  padding: 16px 16px 12px 17px;
  background-color: #E3EFFF;
  border: 1px solid #dae1e6;
  position: absolute;
  margin: 20px;
  width: 30%;
  height: 150px;
  right: 40px;
  
}

.blind {
  display: none;
}
.login_msg {
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 13px;
}
.link_login {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px;
  text-align: center;
  display: block;
  background-color: #4B89DC;
}

.sub_area {
  margin-top: 15px;
}
.look_box {
  float: left;
}
.look_id {
  font-size: 13px;
  margin-left: 10px;
  color: black;
}
.look_pw {
  font-size: 13px;
  margin-left: 10px;
  color: black;
}
.member_join {
  font-size: 13px;
  margin-right: 40px;
  float: right;
  color: black;
}

/*login*/

/* food_header */
#top_container {
  box-shadow: 1px 1px 1px 1px #999;
  border: 1px solid #dae1e6;
  width: 90.5%;
  background-color: #4B89DC;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}


.top_content {
  position: relative;
  height: 200px;
}

.top_food {
  position: absolute;
  float: left;
  left: 32%;
  top: 80px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.gom_left {
  float: left;
  height: 200px;
  width: 20%;
}
.gom_right {
  float: right;
  height: 200px;
  width: 20%;
}
/* food_header */

#best_food {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 40px;
}

/* Main */

#main {
    display: flex;
    flex-flow: wrap;
}

.mainBox {
    box-shadow: 3px 3px 3px 3px #999;
    width: 30%;
    border: 1px solid #dae1e6;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
.memo_photo {
    width: 100%;
}
.memoBox {

}
.bo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.view-photo {
  margin-bottom: 20px;
}

.view-photo a {
  color: black;  
}

/* Main */
















/* html {
  height: 100%;
} */

/* body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
} */

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-bottom: 40px;
}

.image-upload {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
}

label {
  cursor: pointer;
  font-size: 1em;
}

#chooseFile {
  visibility: hidden;
}

.fileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileInput {
  display: flex;
  align-items: center;
  border-bottom: solid 2px black;
  width: 60%;
  height: 30px;
}

#fileName {
  margin-left: 5px;
}

.buttonContainer {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 10px;
  font-size: 0.8em;
  cursor: pointer;
}

.image-show {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.img {
  position: absolute;
}


/*body_image*/

#img_container {
  /* height: 800px; */
  margin-left: auto;
  margin-right: auto;
}



.image-preview li {
  width: 30%;
  height: 450px;
  list-style: none;
  border: 1px solid #dae1e6;
  border-radius: 10px;
  margin-bottom: 20px;
}


img {
  width: 100%;
  height: 400px;
}

.real-upload {
  display: none;
}

.upload {
  text-align: center;
  width: 150px;
  height: 60px;
  background-color: black;
  color: white;
  border-radius: 30px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.new {
  margin: 0;
  line-height: 50px;
}

.image-preview {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  
}


/* footer */
#footer_box {
  margin-top: 40px;
  height: 400px;
  background-color:  #E3EFFF;
  border: 1px solid #dae1e6;
  padding: 20px;
}

#footer_info {
  margin-top: 20px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #5990D9
}

#footer_info .circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #A2C5F2;
  border-radius: 40px;
}
#footer_info .circle_box {

}

#footer_info .circle_right {
  
}

.footer_title {
  margin-left: 60px;
}
.front_end_info {

}

.backend_info {

}
.other_info {
  margin-right: 60px;
}

#footer_info h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #276ACE;  
}

#footer_info p {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.8em;
  color: #276ACE;  
}


.copyright {
  font-family: 'Source Sans Pro', sans-serif;
  color: #276ACE;  
  padding-top: 20px;
}

/* footer */