{% extends "photolist/layout.html" %}
{% load static %}
{% load bootstrap4 %}
{% load humanize%}

{% block title %}
  photo_detail
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/instagram.css" %}">
{% endblock head %}


{% block content %}
    <!-- instagram-content -->
    <div class="instagram-card">
        <div class="instagram-card-header">
            {% if post.photo %}
                <img src="{{ post.photo.url }}" class="instagram-card-user-image"/>
            {% endif %}
            <a class="instagram-card-user-name" href="#">{{ post.author }}</a>
            <div class="instagram-card-time">58 min</div>
        </div>
    
        {% if post.photo %}
                <div class="intagram-card-image">
                    <img src="{{ post.photo.url }}" />
                </div>
        {% endif %}

    
        <div class="instagram-card-content">
            <!-- 좋아요 수 -->
            <p class="likes">18.068 Me gusta</p>
            <p>
                <!-- 사용자 이름 -->
                <a class="instagram-card-content-user" href="#">{{ post.author }}</a>
                <!-- 사용자 이름 --> 
                
                <!-- 사용자 내용 입력 -->
                {{ post.content }}
                <!-- 사용자 내용 입력 -->
                
            </p>
            <!-- 답변수 -->
            <p class="comments">ver los 48 comentarios</p>
            <!-- 답변수 -->
            <!-- 다른 사용자 댓글 -->
            <!-- 다른 사용자 댓글 수정  -->
            <hr>
            <div class="comment-list mt-3 mb-3"> 
                {% for comment in post.comment_set.all  %}
                <strong>{{ comment.author }}</strong> - {{ comment }}
                <small class="text-muted">{{ comment.created_at|naturaltime }}</small>
                <br>
                {% endfor %}
            </div>
            <!-- 다른 사용자 댓글 -->
            <br><a class="user-comment" href="#">sanguine.j@loaf_made</a> wowwwwww</br>
            <br><a class="user-comment" href="#">spainstakeoverWow</a> 😍</br>
            <br><a class="user-comment" href="#">edieandottotravelsSo</a> cool ❄️</br>
            <hr>
            <!-- 다른 사용자 댓글 -->
        </div>
        <!-- 댓글 입력하기 수정 -->
        <!-- 댓글 입력칸 -->
        <form action="{% url "photolist:comment_new" post.pk %}" method="POST">
            <div>
                {% csrf_token %}
                {% bootstrap_form comment_form %}
                <input type="submit" value="댓글 쓰기" class="btn btn-primary btn-block"  />
            </div>
        </form>
         <!-- 댓글 입력칸 -->
    </div>
    <!-- instagram-content -->
{% endblock content %}













