{% extends "photolist/layout.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
  photo_detail
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/instagram.css" %}">
{% endblock head %}


{% block content %}
    <!-- instagram-content -->
    <div class="instagram-card">
        <div class="instagram-card-header">
            <!-- <img src="{% static "images/photo.jpg" %}" class="instagram-card-user-image"/> -->
            {% if post.photo %}
                <div>
                    <img src="{{ post.photo.url }}" />
                </div>
            {% endif %}
        </div>
        
        <!-- 댓글 입력칸 -->
        <div class="instagram-card-footer">
            <a class="footer-action-icons" href="#"><i class="fa fa-heart-o"></i></a><!-- 하트 이미지 -->
            <input class="comments-input" type="text" placeholder="댓글 입력..."/>
            {% comment %} <a class="footer-action-icons" href="#"><i class="fa fa-ellipsis-h"></i></a> {% endcomment %}
        </div>
         <!-- 댓글 입력칸 -->
    </div>
    <!-- instagram-content -->
{% endblock content %}


